{{#partial "title"}}
    Welcome to Backpack Tracker!
{{/partial}}

{{#partial "content"}}
    <h3>Enter your item details</h3>
    <form action="/add_new_item">
        <div class="form-group">
            <p>Enter the item name:</p>
            <label for="itemName"></label>
            <input id="itemName" name="itemName" type="text">
        </div>
        <div class="form-group">
            <p>Enter item price:</p>
            <label for="itemPrice"></label>
            <input id="itemPrice" name="itemPrice" type="number">
        </div>
        <div class="form-group">
            <label for="itemName"></label>
            <input id="itemName" name="itemName" type="text">
        </div>
        <div class="form-group">
            <label for="itemName"></label>
            <input id="itemName" name="itemName" type="text">
        </div>
    </form>
{{/partial}}