{{#partial "content"}}

    <div class="jumbotron">Welcome to Backpack Tracker!</div>


    <div class="row container-fluid">
        {{#each allGoods}}
            <div class="container-fluid col-md-3">
                <h3>{{itemName}} </h3>
                <p>Price: ${{itemPrice}}</p>
                <p>Weight: {{itemWeight}} kg</p>
                <form action="/backpack/{{id}}" method="POST">
                    <div class="form-group">
                        <p>How many?</p>
                        <label for="good"></label>
                        <input id="good" name="good" type="text">
                    </div>
                <button class="btn btn-info">Add to Backpack</button>
                </form>
            </div>
        {{/each}}
    </div>
{{/partial}}





{{> layout.hbs}}